<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

<section class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <%= form_with(scope: :session, url: sessions_path, local: true, class: "form-container") do |f| %>
                <div class="mb-3">
                    <%= f.email_field :email, class: "form-control", placeholder: "Input email" %>
                </div>
                <div class="mb-3">
                    <%= f.password_field :password, class: "form-control", placeholder: "Input password" %>
                </div>
                <div class="d-grid gap-2">
                     <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>
                <p>Don't have an account? </p><a href="<%= new_user_path %>">Create account</a>
            <% end %>
        </section>
    </section>
</section>
    

