<div id="<%= dom_id comment %>">

  <p>
    <strong><%= comment.user.name %></strong>
  </p>

  <p>
    <%= comment.content %>
  </p>

  <p>
    <%= link_to "Show this comment on product page", product_path(comment.product_id) %>
    <%= button_to "Destroy this comment", comment, method: :delete %>
  </p>

</div>
