<div id="<%= dom_id comment %>">

  <p>
    <strong>User name:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <%= link_to "Show this comment", comment %>
    <%= button_to "Destroy this comment", comment, method: :delete %>
  </p>

</div>
