<div id="<%= dom_id comment %>">
  <p>
    <strong>Product:</strong>
    <%= comment.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <%= link_to "Show this comment", comment %>
    <%= button_to "Destroy this comment", comment, method: :delete %>
  </p>

</div>
