<h3>Profile page</h3>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>
<p>Phone: <%= @user.phone %>

<br/>
<%= link_to "edit account", edit_user_path(@user.id) %>
<% if @payment_info.present? %>
    <%= link_to "see payment information", payment_info_path(@payment_info.id) %>
<% else %>
    <%= link_to "add paymet information", new_payment_info_path %>
<% end %>
<%= link_to "favourite list", favourites_path %>
<%= link_to "Cart", carts_path %>

<% if Order.find_by(user_id: @user.id).present? %>
   <%= link_to "Order history", order_details_path %>
<% else %>
   <p> You don't have any order history <p>
   <p> Click <%= link_to "here", products_path %> to start shopping </p>
<% end %>