<h3> Favourite list</h3>
<% @favourites.each do |fav| %>
    <% product = Product.find(fav.product_id) %>
    <p><%= link_to image_tag(product.image.url), product_path(product.id) %></p>
    <p>Name: <%= product.name %></p>
    <p>Category: <%= product.category.name %></p>
    <p>Price: <%= product.price %></p>
    <p>Stock: <%= product.stock %></p>
    <p>Description:  <%= product.description %></p>
<% end %>