<h3>Cart</h3>
<% @carts.each do |cart| %>
    <% product = Product.find(cart.product_id) %>
    <p><%= link_to image_tag(product.image.url), product_path(product.id) %></p>
    <p>Name: <%= product.name %></p>
    <p>Quantity: <%= cart.quantity %></p>
    <p>Subtotal: <%= cart.subtotal %></p>
    <%= link_to "Edit quantity", edit_cart_path(cart.id) %>
    <%= button_to "Remove from cart", cart_path(id: cart.id), method: :delete %>
<% end %>

<% if current_user.address.present? && PaymentInfo.find_by(user_id: current_user.id).present? && Cart.find_by(user_id: current_user.id).present? %>
    <%= button_to "Checkout", orders_path, method: :post unless Cart.count == 0 %>
<% else %>
   <p> Your cart is Empty! Take a lot at our products. </p>
   <%= link_to "Products", products_path %>
<% end %>