<link rel="stylesheet" type="text/css" href="/stylesheets/products.css">

<section class="container-fluid">
    <section class="row">
        <section class="box">
           <h3>Products</h3>
           <%= render "search_form" %>
            <% @products.each do |product| %>
                <div class="product-container">
                    <div class="image-container justify-content-center">
                        <p><%= link_to image_tag(product.image.url), product_path(product.id) %></p>
                    </div>
                    <div class="product-info">
                        <strong><%= product.name %></strong>
                        <p>Category: <%= product.category.name %></p>
                        <p>Price: <%= product.price %></p>
                        <p>Stock: <%= product.stock %></p>
                    </div>
                    <div class="product-desc">
                        <p>Description:  <%= product.description %></p>
                    </div>
                    <div class="links">
                        <% if product.stock == 0 %>
                            <strong>Out of stock! </strong>
                        <% else %>
                            <% if logged_in? %>
                                <% @cart = current_user.carts.find_by(product_id: product.id) %>
                                <% if @cart.present? %>
                                    <%= button_to "Remove from cart", cart_path(id: @cart.id), method: :delete %>
                                <% else %>
                                    <%= button_to "Add to cart", carts_path(product_id: product.id), method: :post %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </section>
    </section>
</section>