<h3>Product detail</h3>
<p><%= image_tag @product.image.url %></p>
<p>Name: <%= @product.name %></p>
<p>Category: <%= @product.category.name %></p>
<p>Price: <%= @product.price %></p>
<p>Stock: <%= @product.stock %></p>
<p>Description:  <%= @product.description %></p>
<%= link_to "Edit Product", edit_product_path(@product.id) %>
<%= button_to "Delete Product", product_path(@product.id), method: :delete %>

<% if @favourite.present? %>
    <%= button_to "Remove from favourite", favourite_path(id: @favourite.id), method: :delete %>
<% else %>
    <%= button_to "Add to favourite", favourites_path(product_id: @product.id), method: :post %>
<% end %>

<% if @cart.present? %>
    <%= button_to "Remove from cart", cart_path(id: @cart.id), method: :delete %>
<% else %>
    <%= button_to "Add to cart", carts_path(product_id: @product.id), method: :post %>
<% end %>