<!DOCTYPE html>
<html>
  <head>
    <title>VeganStory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to "Account", user_path(current_user.id) %>
      <%= button_to "Log out", session_path(current_user.id), method: :delete %>
      <%= link_to "Cart", carts_path %>
    <% else %>
      <%= link_to "Create account", new_user_path %>
      <%= link_to "Log in", new_session_path %>
    <% end %>

    <%= link_to "Products", products_path %>

    <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class:"#{type}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
